.btn {
	-webkit-appearance: none;
	display: inline-flex;
	align-items:center;
	justify-content: center;
	box-sizing: border-box;
	height: 38px;
	padding:0 25px;
	outline: none;
	border:none;
	font-size: 17px;
	font-family: Arial, sans-serif;
	cursor: pointer;
}

.btn-small{
	height: 40px;
	font-size:16px;
	padding: 0 15px;
}

.btn-success{
	background-color: var(--success-color);
	color:var(--reverse-color);
}

.btn-secondary{
	background-color: var(--secondary-color);
	color:var(--reverse-color);
}

@media all and (min-width:480px) {
	.btn{
		height:60px;
	}

	.btn-small{
		height: 40px;
	}
}

