.time {
	position:relative;
	display:block;
	width: calc(20% - 10px);
	height:35px;
	margin:0 0 10px 10px;
	overflow:hidden;
}

.time:hover .time_data{
	border-color: #E16330;
}

.time_field {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.time_field:checked + .time_data{
	background-color:#E16330;
	color:#fff;
	border-color: #E16330;
}


.time_data {
	display:flex;
	justify-content: center;
	align-items: center;
	width:100%;
	height:100%;
	box-sizing: border-box;
	border: 1px solid rgba(224, 224, 224, 0.4);
	padding: 0 2px;
}