.layer {
    position:relative;
    color: #000;
    background-color: #fff;
}

.layer:after {
   content:'';
   clear:both;
   display:table;
 }

.layer:before {
   content:'';
   clear:both;
   display:table;
}

@media all and (min-width: 960px) {

}

@media all and (min-width: 1280px) { 

}












